footer {
    font-family: 'Nanum Gothic';
    background-color: $mylavender;
    color: black;
    font-size: 12px;
    padding: 10px 10px 10px 10px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
        a {
            color: black; 
            text-decoration: none;
        }
        a:hover {
            font-weight: bold;
        }
}

#contenufooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
        #navfooter {
            display:flex;
            gap: 20px;
            align-items: center;
    }
}
        #navfooter {
            display:flex;
            gap: 20px;
            #leftbotnav {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }    


