footer {
    font-family: 'Nanum Gothic';
    background-color: $mylavender;
    color: black;
    font-size: 12px;
    padding: 10px 10px 10px 10px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 98%;
        a {
            color: black; 
            text-decoration: none;
        }
        a:hover {
            font-weight: bold;
        }
}

#contenufooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
        .fleche {
            border: 1px black solid;
            padding: 1px 10px 1px 10px;
            border-radius: 16px;
            margin-left: 4px;
            font-size: 12px;
        }
}

#navfooter {
    display:flex;
    gap: 20px;
}

