html {
    scroll-behavior: smooth;
  }

header {
    font-family: 'Nanum Gothic';
    background-color: $mylavender;
    font-size: 12px;
    padding: 10px;
    color:black;
    position: fixed;
    z-index: 1;
    width: 98%;
    right:0;
    top: 0;
        a {
            color: black;
            text-decoration: none;
            &:hover {
                font-weight: bold;
            }
        }
}

#contenuheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
        .lieu {
            margin: 5px 0px 0px 20px;
            padding: 0px 0px 0px 30px;
            color: gray;
        }
}

#contenunav {
    display:flex;
    gap: 20px;
}

@media all and (max-device-width: 480px) {
    nav {
        flex-direction: column ;
    }

}