body {
    background: linear-gradient(
        to bottom,
        rgba(37, 37, 37),
        rgba(27, 27, 27));
    // background-color: $lightblack;
    font-family: 'Roboto';
    font-weight: 300;
    color: whitesmoke
}