#entete {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    // align-content: center;
    // height: 70vh;
    margin: 10% auto 12% auto;
        h1 {
            font-family: 'Italiana';
            font-size: 120px;
        }
        p {
            font-family: 'Amiri';
            font-size: 14px;
            width: 480px;
            margin-top: -76px;
            text-align: justify;
        }
}