#entete {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 14% auto 12% auto;
    width: 100%;
    position: fixed;
    z-index: -1;
        h1 {
            font-family: 'Italiana';
            font-size: 100px;
            text-align: center;
        }
        p {
            font-family: 'Amiri';
            font-size: 16px;
            max-width: 350px;
            margin-top: -60px;
            text-align: center;
        }
}

.texttest {
    color: blue;
    color: red;
}

.navitem {
    --nav-gap: 15px;
    padding: var(--nav-gap);
    position: fixed;
    right: 0;
    top:21%;
    transform: translateY(50%);
        .nav-item {
            align-items: center;
            display: flex;
            margin-bottom: var(--nav-gap);
            flex-direction: row-reverse;
            a:hover { 
                background-color: rgb(125, 125, 125);
            }
        }
    }

        .nav-label {
            color: black;
            font-weight: bold;
            opacity: 0;
            transition: opacity 0,1;
        }

        .nav-link:hover ~ nav-label {
            opacity: 1;
        }


.nav-link {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: var(--nav-gap);
    margin-left: var(--nav-gap);
    transition: transform 0.1s;
    width: var(--nav-gap);


}

.nav-link-selected {
    background-color: rgb(204, 202, 202);
    transform: scale(1.1);
}
.nav-link:target + .nav-label {
    opacity: 1;
    background-color: black;
}

.nav-link.active {
    background-color: black;
    /* Ajoutez d'autres styles si nécessaire */
  }

@media all and (max-device-width: 480px) {
    
    #contenuentete {
        h1 {
            font-size: 80px;
        }
        p {
            width: 150px;
        }
    }
}