#portfolio {
    background-color: white;
    // margin-left: 10px;
    // margin-right: 50px;
    padding-bottom: 10px;
    padding-top: 60px;
    // z-index: 20;
        .titreportfolio {
            font-family: 'Italiana';
            font-size: 50px;
            margin-left: 30px;
            margin-bottom: 10px;
        }
        .line {
            border-top: 1px black solid;
            width: 350px;
            margin-left: 103px;
        }
    }


#contenuportfolio {
    background-color: white;
    padding-bottom: 60px;
    padding-left: 20px;
    // margin-left: 10px;
    // margin-right: 50px;
    // z-index: 20;
        img {
            width: 29vw;
            height: 19vw;
            object-fit: cover;
            border-radius: 16px;
            box-shadow: 2px 2px 8px black;
            margin: 40px 0px -20px 20px;
        }
}

#portfolio2 {
    background-color: white;
    padding-bottom: 40px;
    text-align: end;
    padding-top: 10px;
    width: 100%;
        .titreportfolio2 {
            font-family: 'Italiana';
            font-size: 50px;
            margin-right: 50px;
            margin-bottom: 10px;
        }
        .line {
            border-top: 1px black solid;
            width: 350px;
            margin-left: 68%;
        }
    }


#listeappli {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: white;
    padding-right:50px;
    margin-top: -10px;
    list-style-type: none;
    padding-bottom: 70px;
        img {
            width: 14vw;
            border-radius: 16px;
            box-shadow: 2px 2px 8px black;
        }
}



@media all and (max-device-width: 1000px) {
    #portfolio {
        .titreportfolio {
            font-family: 'Italiana';
            font-size: 30px;
            margin-left: 30px;
            margin-bottom: 10px;
        }
        .line {
            width: 250px;
            margin-left: 103px;
        }
    }
}
@media all and (max-device-width: 480px) {
    
    #portfolio {
            .titreportfolio {
                font-family: 'Italiana';
                font-size: 30px;
                margin-left: 30px;
                margin-bottom: 10px;
            }
            .line {
                border-top: 1px black solid;
                width: 250px;
                margin-left: 103px;
            }
        }

   #contenuportfolio {
        img {
        width: 150px;
        }
   }

   #listeappli {
        img {
            width: 10vw;
        }
   }
    }